@import url(../updown.css);
.background{
    width: auto;
    height: auto;
    background-color: #CCCFD3;
    background-repeat: no-repeat;
    background-size:100%;
    margin: auto;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
body{
    background-color: #CCCFD3;
    margin: 0;
    padding: 0;
}
.now{
    color: #C3073F;
}
.middle{
    display: flex;
    width: 1298px;
    height: 703px;
    flex-shrink: 0;
    margin-top: 69px;
    margin-bottom: 55px;
}
.middleleft{
    width: 576px;
    height: 493px;
    flex-shrink: 0;
    margin-top: 140px;
    margin-bottom: 92px;
    margin-left: -8px;
}
.middleleftup{
    display: flex;
    background: url(source/text.png);
    width: 576px;
    height: 233px;
    flex-shrink: 0;
    align-items: center;
    justify-content: end;
    animation: move2 2s ease, move3 5s ease infinite 2s;
}
.middleleftuptext{
    width: 540px;
    flex-shrink: 0;
    color: #CCCFD3;
    text-shadow: 10px 10px 40px rgba(0, 0, 0, 0.10);
    font-family: Montserrat;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.shadow1{
    width: 878px;
    height: 540px;
    flex-shrink: 0;
    position: absolute;
    margin-top: -305px;
}
.middleleftdown{
    display: flex;
    width: 571px;
    height: 203px;
    flex-shrink: 0;
    animation: move1 2s ease;
}
.middleleftdownleft{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 381px;
    height: 276px;
    flex-shrink: 0;
    background: url(source/button.png);
    margin-left: -40px;
    margin-top: 17px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.middleleftdownleft:hover{
    transform: scale(1.1);
}
.middleleftdownlefttext{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 301px;
    height: 196px;
    flex-shrink: 0;
    color: #EDDEDE;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.middleleftdownright{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 203px;
    flex-shrink: 0;
    margin-top: 57px;
    margin-left: 23px;
    
}
.middleleftdownrighttext{
    width: 175px;
    height: 183px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #1A1A1D;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.sliderbuttons{
    transition: transform 0.3s ease;
    cursor: pointer;
}
.sliderbuttons:hover{
    transform: scale(1.05);
}
.middleright{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 688px;
    height: 703px;
    flex-shrink: 0;
    border-radius: 27px;
    background: #B2093C;
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.50);
    margin-left: 35px;
    animation: move1 2s ease;
}
.go{
    text-decoration: none;
}
.b1{
    color: #B2093C;
}
.b2{

}
.b3{

}
.b4{

}

@keyframes move1{
    from {
        opacity: 0;
        transform: translateX(500px);
    }
  
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes move2{
    from {
        opacity: 0;
        transform: translate(-500px, -30%);
    }
  
    to {
        opacity: 1;
        transform: translate(0px, 0%); 
    }
}
@keyframes move3{
    from {
        transform: translate(0px, 0%);
    }
    50%{
        transform: translate(-25px, -5%);
    }
    to {
        transform: translate(0px, 0%); 
    }
}
@keyframes slider1{
    from {
        opacity: 1;
    }
  
    to {
        opacity: 0;
    }
}
@keyframes slider2{
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}

