.head{
    margin-top: 19px;
    width: 1200px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    z-index: 1;
}
.bottom{
    width: 600px;
    height: 39px;
    flex-shrink: 0;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    z-index: 1;
}
.carshare{
    transition: transform 0.3s ease;
    cursor: pointer;
    z-index: 0;
}
.carshare:hover{
    transform: scale(1.05);
}
.slashup{
    margin-left: 23.5px;
}
ul.up li{
    display: inline;
    margin-left: 52px;
    float: left;
    margin: 0 23px;
}
.decorate{
    text-decoration: none;
    color: rgba(26, 26, 29, 0.85);
}
ul.down li{
    display: inline;
}
.headtext{
    color: rgba(26, 26, 29, 0.85);
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: transform 0.3s ease;
    cursor: pointer;
    z-index: 0;
}
.headtext:hover{
    transform: scale(1.1);
}
.bottomtext{
    color: rgba(26, 26, 29, 0.85);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.numbertext{
    color: rgba(26, 26, 29, 0.85);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.bot{
    transition: transform 0.3s ease;
}
.bot:hover{
    transform: scale(1.1);
}