@import url(../updown.css);
.background{
    width: auto;
    height: auto;
    background-color: #CCCFD3;
    /* background: url(source/lines.png); */
    background-repeat: no-repeat;
    background-size:100%;
    margin: auto;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
 .lines{
    animation-name: move3;
    animation-duration: 4s;
    animation-timing-function: ease;
}
body{
    background-color: #CCCFD3;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transform: translateY(-3731px);
}
.button{
    display: flex;
    width: 413px;
    height: 86px;
    flex-shrink: 0;
    margin-left: 700px;
    border-radius: 43px;
    background: #C3073F;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.80);
    color: #EDDEDE;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
    align-items: center;
    margin-bottom: 157px;
    transition: transform 0.3s ease;
    cursor: pointer;
    animation-name: move2;
    animation-duration: 2s;
    animation-timing-function: ease;
    text-decoration: none;
    z-index: 0;
}
.button:hover{
    transform: scale(1.05);
}
.now{
    color: #C3073F;
}
.middle{
    display: flex;
    width: 1608px;
    height: 355px;
    flex-shrink: 0;
    margin-left: 68px;
    margin-right: 244px;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 31px;
    animation-name: move2;
    animation-duration: 2s;
    animation-timing-function: ease;
    z-index: 0;
}
.wrapper{
    width: 810px;
    height: 473px;
    display: flex;
    align-items: center;
}
.middleleft{
    width: 900px;
    height: 370px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}
.circles{
    width: 280px;
    height: 355px;
    flex-shrink: 0;
    display: flex;
    justify-content: start;
}
.middletext2{
    overflow: hidden;
    width: 579px;
    height: 370px;
}
.middletext1{
    animation-name: move1;
    animation-duration: 2s;
    animation-timing-function: ease;
    margin: 0;
    transform: translateX(12px);
}
.hide{
    background-color: #C3073F;
    width: 579px;
    height: 370px;
}
.middletext{
    text-overflow: clip;
    width: 579px;
    height: 370px;
    color: rgba(26, 26, 29, 0.90);
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.slider{
    display: flex;
    width: 680px;
    height: 350px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: #B2093C;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.80);
    overflow: hidden;
}
.arrowUp{
    transition: transform 0.3s ease;
    cursor: pointer;
}
.arrowDown{
    transition: transform 0.3s ease;
    cursor: pointer;
}
.arrows{
    display: flex;
    width: 130px;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.arrowUp:hover{
    transform: scale(1.1);
}
.arrowDown:hover{
    transform: scale(1.1);
}
.points{
    display: flex;
    width: 20px;
    height: 220px;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
}
.slider-container{
    width: 544px;
    height: 350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.slider-track{
    transition: 0.2s

}
@keyframes move1{
    from {
        transform: translateX(-579px);
    }
  
    to {
        transform: translateX(12px);
    }
}
@keyframes move2{
    from {
        opacity: 0;
        transform: translateX(500px);
    }
  
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes move3{
    from {
        opacity: 0;
        margin-right: -500px;
    }
  
    to {
        opacity: 1;
        margin-right: 0px;
    }
}
@keyframes moveline1{
    from {
        opacity: 1;
        margin-right: 0px;
    }
    25%{
        margin-right: -100px;
    }
    50%{
        opacity: 0;
        margin-right: 0px;
    }
    75%{
        margin-right: 100px;
    }
    to {
        opacity: 1;
        margin-right: 0px;
    }
}
@keyframes click{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
